.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 30px;
  padding: 30px;
}

.card-item {
  background: #ffffff;
  box-shadow: 0px 0px 20px #e4e4e4;
  border-radius: .5rem;
  overflow: hidden;
}
.card-footer {
  background: #fbfbfb;
  color: #ffffff;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-gap: 0px;
  padding: 10px;
}
