input, textarea {
  width: 100%;
  border: 2px solid #eaeaea;
  border-radius: .3rem;
  color: #222222;
  padding: 1rem 1rem;
  font-size: 1rem;
  &:focus {
    border-color: #000000;
  }
}
textarea {
  line-height: 1.8rem;
  min-width: 100%;
  max-width: 100%;
}

button, .btn, submit {
  border: none;
  background: #141C47;
  border-radius: .3rem;
  color: #ffffff;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(135deg,#5fe2dc 0%,#0d5de4 100%);
  &:hover {
    background: linear-gradient(135deg,#0d5de4 0%,#5fe2dc 100%);
  }
  &.secondary {
    background: transparent;
    padding: .9rem 1.4rem;
    border: 2px solid transparent;
    color: #5fb7d8;
  }
}
