input, textarea {
  width: 100%;
  border: 2px solid #eaeaea;
  border-radius: .3rem;
  color: #222222;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  &:focus {
    border-color: #000000;
  }
}

button, .btn, submit {
  border: none;
  background: #141C47;
  border-radius: .3rem;
  color: #ffffff;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(135deg,#6BDAD5 0%,#4E82DB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  &.secondary {
    background: transparent;
    padding: .9rem 1.4rem;
    border: 2px solid #5fb7d8;
    color: #5fb7d8;
  }
}
