.search {
  background: #0D163A;

  ::placeholder {
    color: #ffffff;
  }

  input {
    position: absolute;
    top: 0;
    height: 70px;
    width: calc(100vw - 80px);
    background: 0;
    border: 0;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0;
    padding: 0px 30px;
  }
}
