body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 1px;
  background: #eaeaea;
  margin: 1rem 0;
}

.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
