* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  *:focus {
    outline: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

hr {
  border: none;
  height: 1px;
  background: #eaeaea;
  margin: 2.5rem 0; }

::placeholder {
  color: #888888; }

img {
  border: 0;
  display: block; }

svg:not(:root) {
  overflow: hidden; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-right-15 {
  margin-right: 15px; }

.padding-30 {
  padding: 30px; }

input, textarea {
  width: 100%;
  border: 2px solid #eaeaea;
  border-radius: .3rem;
  color: #222222;
  padding: 1rem 1rem;
  font-size: 1rem; }
  input:focus, textarea:focus {
    border-color: #000000; }

textarea {
  min-width: 100%;
  max-width: 100%; }

button, .btn, submit {
  border: none;
  background: #141C47;
  border-radius: .3rem;
  color: #ffffff;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(135deg, #5fe2dc 0%, #0d5de4 100%); }
  button.secondary, .btn.secondary, submit.secondary {
    background: transparent;
    padding: .9rem 1.4rem;
    border: 2px solid transparent;
    color: #5fb7d8; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 30px;
  padding: 30px; }

.card-item {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 2px 20px #e4e4e4;
  overflow: hidden; }
  .card-item .heart {
    position: absolute;
    top: 30px;
    right: 30px; }

.card-footer {
  background: #fafafa;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  color: #ffffff;
  align-self: center;
  justify-self: center; }
  .card-footer img {
    margin: 0 auto;
    align-self: center;
    justify-self: center; }

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 1.5rem 0; }

.author {
  float: left;
  margin-right: 10px;
  height: 16px;
  width: 16px; }

.icon {
  cursor: pointer; }

.layoutStandard .createContainer {
  height: 0;
  overflow: hidden;
  padding: 0; }

.layoutStandard .toggleCreate {
  z-index: 99;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #141C47;
  cursor: pointer;
  background: linear-gradient(135deg, #5fe2dc 0%, #0d5de4 100%); }
  .layoutStandard .toggleCreate:before, .layoutStandard .toggleCreate:after {
    display: block;
    background: #ffffff;
    height: 3px;
    width: 30px;
    position: absolute;
    left: 15px;
    top: 30px;
    content: ""; }
  .layoutStandard .toggleCreate:after {
    transform: rotate(90deg); }

.layoutStandard.createOpen .createContainer {
  height: auto;
  overflow: visible; }

.layoutStandard.createOpen .toggleCreate:after {
  opacity: 0; }

.layoutStandard .logo {
  background: #141C47;
  width: 100%;
  float: left;
  height: 70px;
  color: #ffffff;
  z-index: 2;
  position: relative; }
  .layoutStandard .logo a {
    display: block;
    margin: 25px auto;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    position: relative; }
    .layoutStandard .logo a img {
      margin: -14px 0 0 30px; }

.layoutStandard .main {
  min-height: 100vh;
  grid-area: main;
  background: #EEF2F9;
  position: relative;
  z-index: 1; }
