* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  *:focus {
    outline: 0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8rem;
  margin: 0;
  padding: 0; }

hr {
  border: none;
  height: 1px;
  background: #eaeaea;
  margin: 2.5rem 0; }

::placeholder {
  color: #888888; }

img {
  border: 0;
  display: block; }

svg:not(:root) {
  overflow: hidden; }

.margin-top-0 {
  margin-top: 0; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-right-15 {
  margin-right: 15px; }

.padding-30 {
  padding: 30px; }

input, textarea {
  width: 100%;
  border: 2px solid #eaeaea;
  border-radius: .3rem;
  color: #222222;
  padding: 1rem 1rem;
  font-size: 1rem; }
  input:focus, textarea:focus {
    border-color: #000000; }

textarea {
  line-height: 1.8rem;
  min-width: 100%;
  max-width: 100%; }

button, .btn, submit {
  border: none;
  background: #141C47;
  border-radius: .3rem;
  color: #ffffff;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(135deg, #5fe2dc 0%, #0d5de4 100%); }
  button:hover, .btn:hover, submit:hover {
    background: linear-gradient(135deg, #0d5de4 0%, #5fe2dc 100%); }
  button.secondary, .btn.secondary, submit.secondary {
    background: transparent;
    padding: .9rem 1.4rem;
    border: 2px solid transparent;
    color: #5fb7d8; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 30px;
  padding: 55px 30px; }

@keyframes heart {
  0% {
    transform: scale(1) rotate(-45deg); }
  35% {
    transform: scale(1.4) rotate(-45deg); }
  100% {
    transform: scale(1) rotate(-45deg); } }

.card-item {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 3px 18px rgba(112, 119, 136, 0.15);
  overflow: hidden; }
  .card-item p {
    color: #6b808f; }
  .card-item img.center {
    margin: 0 auto;
    align-self: center;
    justify-self: center; }
  .card-item .card-footer {
    background: #f7fafc;
    border-top: 1px solid #dde7f1;
    border-bottom: 1px solid #dde7f1;
    color: #b1bfc8; }
  .card-item .detailAvatar {
    background: url(img/icons/avatar.svg); }
  .card-item .detailHeart {
    background: url(img/icons/heart.svg); }
  .card-item .detailTag {
    background: url(img/icons/tag.svg); }
  .card-item .detailAvatar, .card-item .detailHeart, .card-item .detailTag {
    background-repeat: no-repeat;
    background-position: left center;
    width: auto;
    height: 25px;
    padding: 0px 0 0 34px; }
  .card-item .iconEdit {
    background: url(img/icons/edit.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 25px;
    cursor: pointer;
    display: block; }
  .card-item .iconDelete {
    background: url(img/icons/delete.svg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 25px;
    cursor: pointer;
    display: block; }
  .card-item .heart {
    background-color: #D8DFE2;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    transform: rotate(-45deg);
    width: 15px;
    position: absolute;
    top: 30px;
    right: 30px; }
    .card-item .heart:before, .card-item .heart:after {
      content: "";
      background-color: #D8DFE2;
      border-radius: 50%;
      height: 15px;
      position: absolute;
      width: 15px; }
    .card-item .heart:before {
      top: -7px;
      left: 0; }
    .card-item .heart:after {
      left: 7px;
      top: 0; }
  .card-item.liked .heart {
    animation-duration: .6s;
    animation-name: heart;
    background-color: #f35ee7; }
    .card-item.liked .heart:before, .card-item.liked .heart:after {
      background-color: #f35ee7; }

.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  padding: 1.5rem 1rem; }

.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
  padding: 1.5rem 2rem; }

.layoutStandard .createContainer {
  transition: all .15s ease-out;
  max-height: 0;
  overflow: hidden;
  padding: 0; }

.layoutStandard .toggleCreate {
  z-index: 99;
  position: fixed;
  top: 48px;
  right: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #141C47;
  cursor: pointer;
  background: linear-gradient(135deg, #5fe2dc 0%, #0d5de4 100%); }
  .layoutStandard .toggleCreate:hover {
    background: linear-gradient(135deg, #0d5de4 0%, #5fe2dc 100%); }
  .layoutStandard .toggleCreate:before, .layoutStandard .toggleCreate:after {
    display: block;
    background: #ffffff;
    height: 3px;
    width: 30px;
    position: absolute;
    left: 15px;
    top: 30px;
    content: ""; }
  .layoutStandard .toggleCreate:after {
    transform: rotate(90deg); }

.layoutStandard.createOpen .createContainer {
  max-height: 471px;
  overflow: visible; }
  .layoutStandard.createOpen .createContainer .card-item {
    padding: 55px 30px; }

.layoutStandard.createOpen .toggleCreate:after {
  opacity: 0; }

.layoutStandard .logo {
  background: #141C47 url(img/logo.svg);
  background-position: 30px center;
  background-repeat: no-repeat;
  height: 80px;
  color: #ffffff;
  padding: 26px 20px 0 80px;
  font-size: 1.6rem; }

.layoutStandard .main {
  min-height: 100vh;
  grid-area: main;
  background: #EEF2F9; }
